<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Table of Users</h1>
<table border="1">
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Last Name </th>
        <th> Email </th>
    </tr>
    <tr th:each="user : ${allUs}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getFirstName()}"></td>
        <td th:utext="${user.getLastName()}"></td>
        <td th:utext="${user.getEmail()}"></td>
    </tr>
</table>
</body>
</html>